.pagination {
    justify-content: center;
    margin-top: 50px;
}
.pagination button {
    background: #3485b4;
    padding: 10px 20px;
    border-radius: 4px;
    outline: none;
    margin: 0 40px;
    min-width: 90px
}
.pagination button:hover {
    background: #9fffe0;
}
.pagination button:disabled,
.pagination button[disabled] {
    background-color: #cecccc86;
    color: #1d1d1d;
}
