.list-addresses {
    position: relative;
    width: 100%;
    margin: auto;
    margin-top: 70px;
}
.list-addresses .title-address {
    text-align: center;
    text-transform: uppercase;
}
.list-addresses .new-address {
    width: 80%;
    padding: 10px 0px 10px;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    border: 1px dashed #000;
    border-radius: 10px;
}
.display-addresses {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    min-height: auto;
    border: 1px solid #777;
    border-radius: 10px;
}
.display-addresses .render-address {
    margin: 10px 0 10px;
    width: 80%;
    margin: auto;
}
.list-addresses .create-address {
    position: absolute;
    background: #fff;
    top: 15%;
    left: 30%;
    display: none !important;
    margin: auto;
    width: 800px;
    height: 400px;
    box-shadow: 0 0 3px 2px #ddd;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.list-addresses .create-address.show {
    display: flex !important;
}
.list-addresses .create-address form {
    width: 100%;
    height: 80%;
}
.create-address form .hang {
    display: flex;
    justify-content: space-evenly;
}
.hang .your-infor label {
    display: block;
}
.hang input {
    outline: none;
}
.hang input {
    width: 250px;
    padding: 5px 10px 5px;
}
.hang .address-receive select {
    margin: 10px 0 10px;
    display: block;
    width: 275px;
    padding: 5px 10px 5px;
}
.hang .address-receive label {
    display: block;
}
.create-address form .fold {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.create-address form button {
    padding: 10px 20px;
    border: 1px solid black;
    margin: 0 10px;
    border-radius: 10px;
}
.create-address form p {
    padding: 10px 20px;
    border: 1px solid black;
    margin: 0 10px;
    border-radius: 10px;
    cursor: pointer;
}
.render-address .name {
    width: 20%;
    font-size: 20px;
}
.render-address .phone {
    width: 12%;
}
.render-address .address {
    width: 65%;
}
