.invoice-box {
    width: 100%;
    min-height: 900px;
    margin-bottom: 10px;
}
#invoice-POS {
    border: 1px solid black;
    padding: 2mm !important;
    margin: 20px auto !important;
    width: 40rem !important;
    background: #fff !important;
    min-height: 570px;
}
#invoice-POS ::selection {
    background: #f31544;
    color: #fff;
}
#invoice-POS ::moz-selection {
    background: #f31544;
    color: #fff;
}
#invoice-POS h1 {
    font-size: 1.5em;
    color: #222;
}
#invoice-POS h2 {
    font-size: 0.9em;
}
#invoice-POS h3 {
    font-size: 1.2em;
    font-weight: 300;
    line-height: 2em;
}
#invoice-POS p {
    font-size: 0.9em;
    color: #666;
    line-height: 1.2em;
}
#invoice-POS #top,
#invoice-POS #mid,
#invoice-POS #bot {
    /* Targets all id with 'col-' */
    border-bottom: 1px solid #eee;
}
#invoice-POS #top {
    min-height: 100px;
}
#invoice-POS #mid {
    min-height: 80px;
}
#invoice-POS #bot {
    min-height: 50px;
}
#invoice-POS #top .logo {
    height: 60px;
    width: 60px;
    background: url(http://michaeltruong.ca/images/logo1.png) no-repeat;
    background-size: 60px 60px;
}
#invoice-POS .clientlogo {
    float: left;
    height: 60px;
    width: 60px;
    background: url(http://michaeltruong.ca/images/client.jpg) no-repeat;
    background-size: 60px 60px;
    border-radius: 50px;
}
#invoice-POS .info {
    display: block;
    margin-left: 0;
}
#invoice-POS .title {
    float: right;
}
#invoice-POS .title p {
    text-align: right;
}
#invoice-POS table {
    width: 100%;
    border-collapse: collapse;
}
#invoice-POS .tabletitle {
    font-size: 0.5em !important;
    background: #eee;
}
#invoice-POS .tableitem {
    font-size: 1em;
}
#invoice-POS .service {
    border-bottom: 1px solid #eee;
    height: 50px;
}
#invoice-POS .item {
    width: 50mm;
}
#invoice-POS .itemtext {
    font-size: 0.5em;
}
#invoice-POS #legalcopy {
    margin-top: 5mm;
}
#print-bill {
    width: 100%;
    min-height: 580px;
    padding-bottom: 400px;
}
.invoice-box #print {
    position: absolute;
    top: 10%;
    left: 18%;
    padding: 10px 20px;
    background: white;
    outline: none;
    border: 1px solid;
    border-radius: 10px;
    transition: 0.4s;
    box-shadow: 0px 4px 10px rgba(31, 31, 31, 0.15);
    -webkit-box-shadow: 0px 4px 10px rgba(31, 31, 31, 0.15);
}
.invoice-box #print:hover {
    background: #777;
}
