.boxx-detail {
    width: 100%;
    padding-bottom: 400px;
}
.dt-product {
    width: 80%;
    margin: auto;
    margin-top: 5rem;
}
.dt-product .detail {
    width: 100%;
    display: flex;
}
.detail .img-infor {
    width: 74%;
    display: flex;
    background: white;
    padding: 20px;
    border-radius: 20px;
}

.img-infor .box-detail {
    width: 60%;
}
.img-infor .box-detail p.tt {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    font-size: 28px;
    line-height: 1.33;
    display: unset;
    word-break: break-word;
    font-weight: 700;
    text-transform: uppercase;
}
.loai {
    width: 25%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}
.loai .ct {
    text-transform: uppercase;
    font-weight: 500;
    color: blue;
}
.box-detail p.only {
    color: rgb(247, 130, 18);
    font-size: 1.3rem;
    margin: 20px 0px 0.5rem;
    margin-bottom: 20px;
}
.box-detail .row-price {
    color: rgb(30, 136, 229);
    font-weight: bold;
    font-size: 30px;
    line-height: 28px;
    margin-bottom: 40px;
}
.box-detail a.cart-buy,
.box-detail .sold-out {
    margin: 20px 0 10px 0;
    padding: 15px 80px;
    background-color: rgb(54, 51, 224);
    font-size: 20px;
    color: white;
    font-weight: 600;
    border-radius: 6px;
}
.box-detail .sold-out {
    background-color: none !important;
}
.box-detail a.cart-buy:hover {
    background-color: rgb(32, 49, 204);
    transition: 0.3;
}
.box-detail .review {
    margin-top: 20px;
}
.box-detail .review span {
    width: 40%;
    display: flex;
}
.box-detail .hr,
.policy .hr {
    margin-top: 15px;
    width: 100%;
    height: 1px;
    border-top: 1px dotted #000000;
}
.detail .policy {
    width: 25%;
    background-color: white;
    border-radius: 20px;
    margin-left: 1%;
    padding: 2% 2% 0;
}
.detail .policy .pl1 {
    font-size: 16px;
    color: rgb(25, 226, 166);
}
.detail .policy .pl2 {
    font-weight: bold;
    margin-top: 15px;
    font-size: 1.5rem;
}
.detail .policy .pl3 {
    font-size: 18px;
}
/*Specifications*/
.boxx-detail .content {
    width: 80%;
    margin: auto;
    display: flex;
    margin-top: 3rem;
    background: white;
    padding: 20px 20px 50px;
    border-radius: 20px;
}
.content .content-1 {
    width: 40%;
}
.content .content-compare {
    width: 58%;
    margin-left: 2%;
}
.content .content-compare p,
.content-1 p {
    width: 80%;
    line-height: 1.5em;
    text-align: justify;
}
.content .infor,
.related-products h2 {
    display: block;
    text-align: center;
    margin: 3rem 0 1rem;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
}
.content .infor {
    text-align: start;
    font-size: 18px;
    margin: 1rem 0 0 0;
}
.boxx-detail .content table {
    width: 100%;
}
/*comments-products*/
.comments-products {
    width: 80%;
    margin: auto;
    margin-top: 2rem;
}
.comments-products h2 {
    text-align: center;
    font-size: 25px !important;
    text-transform: uppercase;
    font-weight: bold;
}
/*rating*/
.comments {
    margin-bottom: 1.5rem;
}
.user-rating {
    width: 79px;
}
.user-rating input {
    display: none;
}
.user-rating label {
    color: #777;
    opacity: 0.5;
    cursor: pointer;
    float: right;
}
.user-rating input:checked ~ label {
    color: rgb(238, 42, 91);
    opacity: 1;
    cursor: pointer;
}
.product_box .compare {
    width: 100px;
    margin: auto;
    background: #6d5ff0;
    padding: 5px 10px;
    border-radius: 7px;
    font-weight: 600;
    color: white;
}
.product_box .compare:hover {
    background: #3727c9;
    transition: 0.5s;
}
/*Other Products*/
.other-products {
    width: 76%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 280px);
    grid-column-gap: 2px;
}
