.detail {
    width: 80%;
    margin: auto;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    font-size: 150%;
    box-shadow: 0px 4px 10px rgba(31, 31, 31, 0.15);
    -webkit-box-shadow: 0px 4px 10px rgba(31, 31, 31, 0.15);
    padding: 20px 0 20px 0;
}
.detail img {
    margin: 20px;
    max-width: 500px;
    height: 700px;
    object-fit: contain;
    display: block;
}
.box-detail {
    max-width: 600px;
    width: 100%;
    height: 650px;
    margin: 20px;
}
.box-detail .row-dt {
    min-height: 10%;
    display: flex;
    align-items: baseline;
}
.row-dt h2 {
    font-size: 20px;
    min-height: 100px;
    text-transform: capitalize;
    font-weight: 400;
    width: 60%;
    margin-right: 5%;
}
.row-dt h6 {
    font-size: 20px;
    color: red;
    font-weight: bold;
    text-transform: uppercase;
}
.box-detail .infor {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    width: 100%;
    height: 60%;
}
.box-detail .content {
    min-height: 57%;
    min-width: 80%;
    padding: 20px 0 20px;
}
.row-price {
    height: 10%;
    display: flex;
    justify-content: space-between;
}
.row-price p {
    text-transform: capitalize;
    color: #777;
    font-size: 20px;
    transition: 0.4s;
}
.row-price p:hover {
    color: black;
    font-weight: 900;
    font-size: 20px;
}
.row-price span {
    text-transform: capitalize;
    color: blue;
}
.box-detail .cart-buy {
    height: 10%;
    background: #36acff;
    padding: 10px 40px;
    color: black;
}
.box-detail .cart-buy:hover {
    background: limegreen;
    transition: 0.3s;
}
.related-products {
    margin-top: 100px;
}
.related-products h2 {
    text-align: center;
    text-transform: uppercase;
    color: #666666;
    font-weight: bold;
}
.boxx-detail {
    padding-bottom: 400px;
}
table td,
table th {
    font-size: 17px;
    text-transform: capitalize;
    padding: 0;
    margin: 0;
    border: 1px solid #dddddd;
}
.content table {
    width: 100%;
    margin: auto;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    background: white;
}
table thead.show-content {
    width: 100%;
    background-color: #9fefef;
}
table thead.show-content th {
    border: none;
}
table thead.show-content tr {
    height: 50px;
}
table tbody {
    width: 100%;
}
tbody tr {
    width: 100%;
}
tbody tr th {
    width: 50%;
}
.content .infor {
    color: blue;
    margin-bottom: 5px;
}
.box-detail h3.warranty {
    font-size: 20px;
    text-align: end;
    text-transform: capitalize;
}
