.login-page {
    min-height: 800px;
    display: flex;
    background-image: linear-gradient(#91dbfd, #75fdf2);
    justify-content: center;
    align-items: center;
}
.login-page form {
    width: 400px;
    height: 500px;
}
.login-page form label {
    font-weight: bold;
    font-size: 15px;
}
.login-page form h2 {
    font-size: 40px;
}
.login-page form input {
    display: block;
    width: 100%;
    margin: auto;
    outline: none;
    height: 40px;
    padding: 0 0 5px 15px;
    font-size: 20px;
    margin-bottom: 10px;
    border-radius: 40px;
    border: none;
}
input::placeholder {
    font-size: 15px;
}
.login-page form .row-auth {
    display: flex;
    justify-content: space-around;
}
.row-auth button {
    font-size: 15px;
    outline: none;
    background: #8bd7cc;
    padding: 10px 30px;
    border-radius: 40px;
}
.row-auth button:active {
    background: #4ea1c7;
}
a.register {
    font-size: 15px;
    outline: none;
    background: #50e658;
    padding: 10px 30px;
    border-radius: 40px;
}
.row-auth button:active {
    background: #3be744;
}
