.product_card {
    max-width: 250px;
    overflow: hidden;
    height: 400px;
    padding: 10px;
    box-shadow: 0 0 10px #ddd;
    margin: 5px 0;
    position: relative;
    z-index: 0;
}
.product_card.sold-out {
    background: rgba(179, 179, 142, 0.507);
    z-index: 1;
    opacity: 0.4;
}
.product_card img {
    width: 100%;
    height: 250px;
    display: block;
    object-fit: cover;
}
.product_card .product_box {
    height: 100px;
}
.product_card .product_box h2 {
    height: 30%;
    text-transform: capitalize;
    overflow: hidden;
    color: blue;
    margin-bottom: 0px !important;
    font-size: 20px;
}
.product_card .product_box p {
    height: 42%;
    overflow: hidden;
}
.product_card .product_box span {
    font-size: 15px;
    font-weight: bold;
}
.product_card .row_btn {
    width: 95%;
    display: flex;
    justify-content: space-around;
}
#btn_buy img,
#btn_view img {
    width: 40px;
    height: 40px;
    padding: 5px 10px 5px;
}
