.product_card {
    max-width: 275px;
    background-color: white;
    overflow: hidden;
    height: 400px;
    padding: 10px;
    margin: 5px 0;
    position: relative;
    transition: 0.4s;
    z-index: 0;
}
.product_card:hover {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    box-shadow: 0px 4px 10px rgba(31, 31, 31, 0.15);
    -webkit-box-shadow: 0px 4px 10px rgba(31, 31, 31, 0.15);
}
.product_card.sold-out {
    background: rgba(179, 179, 142, 0.507);
    z-index: 1;
    opacity: 0.4;
}
.product_card img {
    width: 100%;
    height: 220px;
    display: block;
    object-fit: cover;
}
.product_card .product_box {
    height: 100px;
}
.product_card .product_box h2 {
    height: 53%;
    text-transform: capitalize;
    overflow: hidden;
    color: blue;
    margin-bottom: 0px !important;
    font-size: 20px;
}
.product_card .product_box p {
    height: 21%;
    overflow: hidden;
}
.product_card .product_box span {
    font-size: 15px;
    font-weight: bold;
}
.product_card .row_btn {
    width: 95%;
    display: flex;
    justify-content: space-around;
}
#btn_buy img,
#btn_view img {
    width: 40px;
    height: 40px;
    padding: 5px 10px 5px;
}
