.product_card {
    max-width: 250px;
    overflow: hidden;
    height: 400px;
    padding: 10px;
    box-shadow: 0 0 10px #ddd;
    margin: 5px 0;
    position: relative;
}
.product_card img {
    width: 100%;
    height: 250px;
    display: block;
    object-fit: cover;
}
.product_card .product_box {
    height: 100px;
}
.product_card .product_box h2 {
    height: 30%;
    text-transform: capitalize;
    color: blue;
    margin-bottom: 0px !important;
    font-size: 20px;
}
.product_card .product_box p {
    height: 42%;
    overflow: hidden;
}
.product_card .product_box span {
    font-size: 15px;
    font-weight: bold;
}
.product_card .row_btn {
    width: 95%;
    display: flex;
    justify-content: space-between;
}
#btn_buy,
#btn_view {
    color: black;
    font-size: 13px;
    font-weight: bold;
    padding: 5px 20px 5px;
}
#btn_buy {
    background: lime;
}
#btn_view {
    background: #ff9483;
}
#btn_buy:hover {
    transition: 0.3s;
    background: limegreen;
}
#btn_view:hover {
    transition: 0.3s;
    background: #ff6952;
}
