header {
    min-height: 70px;
    height: 85px;
    width: 100%;
    display: flex !important;
    align-items: center;
    border-bottom: 1px solid #ddd;
    background: rgb(0 208 255);
    box-sizing: border-box;
    padding: 0 20px;
}
header .logo {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60px;
    align-items: center;
    margin-bottom: 8px;
}
header .logo p {
    position: relative;
    bottom: 10px;
    font-family: "Langar", cursive;
    font-weight: 700;
}
header .logo img {
    margin-top: 10px;
    width: 65%;
    position: relative;
    left: 20px;
}
header ul.guest {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}
header ul.guest li a {
    font-size: 18px;
    color: #000000;
    font-weight: 500;
}
header ul.guest li a {
    color: #000;
    font-weight: 600;
    transition: 0.4s;
}
/* header .search {
    width: 25%;
}
header .search input {
    font-size: 16px;
    width: 80%;
    padding: 10px 15px;
    outline: none;
    border: none;
    border-bottom: 1px solid #c8a9a9;
    border-left: 1px solid;
} */
header .login-text {
    font-size: 20px;
    color: #000;
    margin-right: 20px;
}
header img.user-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}
.user {
    display: flex;
    justify-content: space-evenly;
}
.user-content {
    width: 200px;
    position: relative;
    font-size: 14px;
    color: #444;
    font-weight: 500;
}
/*import ClientHeader*/
@import "../ClientHeader/ClientHeader.css";
