.about {
    background: rgb(245 245 245);
    padding-bottom: 400px;
}
.container {
    margin: 0px auto;
    width: 1200px;
}
.image {
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.image img {
    display: block;
    width: 100%;
}

.image-full {
    display: block;
    width: 100%;
    margin: 0 0 3em 0;
}

.image-left {
    float: left;
    margin: 0 2em 2em 0;
}

.image-centered {
    display: block;
    margin: 0 0 2em 0;
}

.image-centered img {
    margin: 0 auto;
    width: auto;
}

/*********************************************************************************/
/* List Styles                                                                   */
/*********************************************************************************/

ul.style1 {
}

/*********************************************************************************/
/* Social Icon Styles                                                            */
/*********************************************************************************/

ul.contact {
    margin: 0;
    padding: 2em 0em 0em 0em;
    list-style: none;
}

ul.contact li {
    display: inline-block;
    padding: 0em 0.1em;
    font-size: 1em;
}

ul.contact li span {
    display: none;
    margin: 0;
    padding: 0;
}

ul.contact li a {
    color: #fff;
}

ul.contact li a:before {
    display: inline-block;
    background: #3e5a99;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}

/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

.button {
    display: inline-block;
    margin-top: 2em;
    padding: 0.8em 2em;
    background: #3e5a99;
    line-height: 1.8em;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 1em;
    color: #fff;
}

.button:before {
    display: inline-block;
    background: #8dcb89;
    margin-right: 1em;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    text-align: center;
    color: #272925;
}

.button-small {
}

/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

.title {
    margin-bottom: 1em;
}

.title h2 {
    font-size: 2.8em;
    color: #fff;
}

.title .byline {
    font-size: 1.1em;
    color: rgba(255, 255, 255, 0.5);
}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

#header-wrapper {
    overflow: hidden;
    padding: 6em 0em 2em 0em;
}

#header {
    text-align: center;
}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

#logo {
}

#logo h1 {
    display: inline-block;
    margin-bottom: 0.2em;
    padding: 0.2em 0.9em;
    font-size: 3.5em;
}

#logo a {
    text-decoration: none;
    color: #fff;
}

#logo span {
    padding-right: 0.5em;
    text-transform: uppercase;
    font-size: 0.9em;
    color: rgba(255, 255, 255, 1);
}

#logo span a {
    color: rgba(255, 255, 255, 0.8);
}

/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

#menu {
}

#menu ul {
    display: inline-block;
    padding: 0em 2em;
    text-align: center;
}

#menu li {
    display: inline-block;
}

#menu li a,
#menu li span {
    display: inline-block;
    padding: 1.3em 1.5em;
    text-decoration: none;
    font-size: 0.9em;
    font-weight: 600;
    text-transform: uppercase;
    outline: 0;
    color: #fff;
}

#menu li:hover a,
#menu li.active a,
#menu li.active span {
    background: #3e5a99;
}

#menu .current_page_item a {
    color: #fff;
}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

#banner {
}

/*********************************************************************************/
/* Wrapper                                                                       */
/*********************************************************************************/

.wrapper {
    overflow: hidden;
    padding: 0em 0em 5em 0em;
}

#wrapper1 {
    background: #fff;
}

#wrapper2 {
    overflow: hidden;
    padding: 5em 0em;
    text-align: center;
}

#wrapper3 {
}

#wrapper4 {
}

/*********************************************************************************/
/* Welcome                                                                       */
/*********************************************************************************/

#welcome {
    overflow: hidden;
    width: 1200px;
    padding: 2em 0px 0em 0px;
    text-align: center;
}

#welcome .content {
    padding: 0em 8em;
}

#welcome .image {
    display: block;
    padding-top: 3em;
    border: none;
}

#welcome .title h2 {
    color: rgb(16 36 94);
    font-size: 60px;
    font-family: fantasy;
}
#welcome.container p {
    font-size: 20px;
    color: rgb(0 0 0);
    font-family: segoe ui light;
}
#welcome a,
#welcome strong {
    color: #1347e6;
}
#welcome p strong {
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff,
        1px -1px 0 #fff, -1px 1px 0 #fff;
}
div#tbox1 .title h2,
div#tbox2 .title h2,
div#tbox3 .title h2 {
    color: darkblue;
}
/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/

#page-wrapper {
    overflow: hidden;
    padding: 3em 0em 0em 0em;
    text-align: center;
}

#page {
}

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

#content {
    float: left;
    width: 740px;
    padding-right: 100px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/

#sidebar {
    float: right;
    width: 350px;
}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

#footer {
    text-align: center;
}

#footer .title span {
    color: rgba(255, 255, 255, 0.4);
}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

#copyright {
    overflow: hidden;
    padding: 5em 0em;
    border-top: 1px solid rgba(255, 255, 255, 0.08);
    text-align: center;
}

#copyright p {
    letter-spacing: 1px;
    font-size: 0.9em;
    color: rgba(255, 255, 255, 0.6);
}

#copyright a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
}

/*********************************************************************************/
/* Newsletter                                                                    */
/*********************************************************************************/

#newsletter {
    overflow: hidden;
    padding: 8em 0em;
    background: #ededed;
    text-align: center;
}

#newsletter .title h2 {
    color: rgba(0, 0, 0, 0.8);
}

#newsletter .content {
    width: 600px;
    margin: 0px auto;
}

/*********************************************************************************/
/* Portfolio                                                                     */
/*********************************************************************************/

#portfolio {
}

#portfolio .box {
    text-align: center;
}

#portfolio h3 {
    display: block;
    padding-bottom: 1em;
    font-size: 1em;
    color: rgba(255, 255, 255, 1);
}

#portfolio .title {
    text-align: center;
}

#portfolio .title h2 {
    color: rgba(0, 0, 0, 0.8);
}

.column1,
.column2,
.column3,
.column4 {
    width: 255px;
}

.column1,
.column2,
.column3 {
    float: left;
    margin-right: 24px;
}

.column4 {
    float: left;
}

/*********************************************************************************/
/* Three Columns                                                                 */
/*********************************************************************************/

#three-column {
    overflow: hidden;
    text-align: center;
}

#three-column h2 {
    margin: 1em 0em;
    font-size: 1.5em;
    font-weight: 700;
}

#three-column .icon {
    position: relative;
    display: block;
    margin: 0px auto 0.8em auto;
    background: none;
    line-height: 150px;
    font-size: 4em;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    border: 6px solid #67128f;
    text-align: center;
    color: #fff;
}

#three-column #tbox1,
#three-column #tbox2,
#three-column #tbox3 {
    float: left;
    width: 365px;
    padding: 80px 40px 80px 40px;
}

#three-column .title {
    text-align: center;
    font-size: 20px;
}

#three-column .title h2 {
    font-size: 1.6em;
}
#three-column p {
    font-size: 20px;
}
#three-column .title .byline {
    padding-top: 0.5em;
    font-size: 0.9em;
    color: #858585;
}

#three-column .arrow-down {
    border-top-color: #292929;
}

ul.tools {
    margin: 0;
    padding: 0em 0em 0em 0em;
    list-style: none;
}

ul.tools li {
    display: inline-block;
    padding: 0em 0.2em;
    font-size: 4em;
}

ul.tools li span {
    display: none;
    margin: 0;
    padding: 0;
}

ul.tools li a {
    color: #fff;
}

ul.tools li a:before {
    display: inline-block;
    background: #1abc9c;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    line-height: 120px;
    text-align: center;
    color: #ffffff;
}
