.user-home {
    padding-bottom: 400px;
}
.user-home .box-header {
    position: relative;
}
.user-home .category-sp {
    position: absolute;
    top: 70px;
    left: 150px;
    z-index: 1;
}
.user-home .category-sp ul {
    background: #fefefe;
    border-radius: 10px;
    width: 180px;
}
.user-home .category-sp ul li {
    padding: 10px 20px;
    /* /border-bottom: 1px solid; */
    border-radius: 10px;
    font-weight: bold;
    transition: 0.4s;
}
.user-home .category-sp ul li:hover {
    background: #d4d4d4;
    transition: 0.4s;
}
.category-sp ul li a {
    color: black;
}
/*Carousel*/
.carousel-control-prev {
    left: 215px;
}
.carousel-control-next {
    right: 215px;
}
.category-sp ul li a img {
    width: 20px;
    height: 20px;
}
.user-home .hot-products {
    width: 95%;
    margin: auto;
    margin-top: 30px;
}
.hot-laptops,
.hot-mouses,
.hot-headphones {
    padding: 10px 20px;
    width: 100%;
    box-shadow: 0px 4px 10px rgba(31, 31, 31, 0.15);
    margin-top: 20px;
}
/*Render Home*/
.products-home {
    width: 100%;
}
.products-home .box-products {
    width: 100%;
    margin: auto;
}
.products-home .box-products .text {
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
}
.products-home .box-products .render-items {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.products-home .render-items .product-item {
    width: 19%;
    height: 450px;
    box-shadow: 0px 4px 10px rgba(31, 31, 31, 0.15);
    transition: 0.4s;
}
.products-home .render-items .product-item:hover {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    box-shadow: 0px 4px 10px rgba(31, 31, 31, 0.15);
    -webkit-box-shadow: 0px 4px 10px rgba(31, 31, 31, 0.15);
}
.products-home .render-items .product-item img {
    width: 100%;
    height: 250px;
    display: block;
    object-fit: cover;
}
.products-home .render-items .product-item .content {
    height: 165px;
    width: 90%;
    margin: auto;
}
.products-home .render-items .product-item p.solded {
    width: 92%;
    margin: auto;
}
.products-home .content p.des {
    height: 43px;
}
.products-home .content h2.h3 {
    height: 32%;
    text-transform: capitalize;
    overflow: hidden;
    color: blue;
    margin-bottom: 0px !important;
    font-size: 20px;
}
.products-home .content .add-cart {
    display: flex;
    justify-content: space-around;
}
.products-home .content a.view-detail {
    padding: 10px 30px;
    background: #70e662;
    border-radius: 20px;
    color: black;
    font-weight: bold;
    transition: 0.4s;
}
.products-home .content a.view-detail:hover {
    background: #6db465;
}
.products-home .content .addcart {
    padding: 10px 30px;
    background: #5b5b5b;
    color: wheat;
    border-radius: 25px;
    font-weight: bold;
    transition: 0.4s;
    outline: none;
}
.products-home .content .addcart:hover {
    background: black;
}
p.overview {
    text-align: center;
    font-size: 30px;
    margin-top: 40px;
    text-transform: uppercase;
    font-weight: bold;
}
.upp {
    font-size: 30px;
    font-family: fantasy;
}
