.create-product {
    padding-bottom: 400px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    min-height: 100px;
    padding-bottom: 400px;
}
.create-product .add-images {
    width: 35%;
    margin-right: 5%;
    height: 500px;
    border: 1px solid #ddd;
    position: relative;
}
#file {
    position: relative;
    width: 100%;
    height: 100%;
    outline: none;
}
#file-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: wheat;
}
#file-img img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}
#file-img span {
    position: absolute;
    top: -13px;
    right: -13px;
    background: rgb(255, 255, 255);
    border: 1px solid #ddd;
    border-radius: 50%;
    padding: 6px 12px;
    color: red;
    cursor: pointer;
    font-weight: bold;
}
.create-product form {
    width: 60%;
}
.create-product form .title,
.create-product form .prices,
.create-product form .description,
.create-product form .content,
.create-product form .quantity,
.create-product form .category {
    display: flex;
    margin-top: 10px;
}
.create-product form .content textarea {
    width: 730px !important;
}
.create-product form label {
    width: 14%;
    text-transform: uppercase;
    font-weight: bold;
}
.create-product form input {
    font-size: 20px;
    font-weight: bold;
    outline: none;
    padding: 5px 0px 5px 10px;
    width: 80%;
    height: 35px;
}
.create-product form textarea {
    font-size: 20px;
    font-weight: bold;
    outline: none;
    padding: 5px 0px 5px 10px;
    width: 80%;
}
.create-product form input::placeholder {
    width: 80%;
    text-transform: lowercase;
    font-weight: lighter;
}
.create-product form select {
    height: 35px;
    font-size: 15px;
    padding: 5px 0px 5px 10px;
    outline: none;
}
.create-product form button {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    outline: none;
    padding: 15px 40px;
    background: rgb(163 255 166);
    margin-left: 82.5%;
}
.item-box {
    display: flex;
}
.item-box .form-group.cpu {
    width: 31%;
    display: flex;
    justify-content: space-between;
}
.item-box .form-group.ram {
    display: flex;
    width: 30%;
    justify-content: space-around;
}
.item-box .form-group.screen {
    display: flex;
    justify-content: space-around;
    width: 30%;
}
.item-box .form-group.vga {
    display: flex;
    justify-content: space-between;
    width: 48%;
    align-items: center;
}
.item-box .form-group.harddisk {
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
