.admin-home {
    min-height: 800px;
    padding-bottom: 400px;
    margin-top: 2rem;
    /* width: 100%; */
}
.admin-home .title {
    text-align: center;
}
.admin-home .chart {
    width: 95%;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
}
.admin-home .block-chart {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.admin-home .des-detail {
    margin-top: 30px;
    width: 50%;
}
.admin-home .header {
    width: 95%;
    margin: auto;
}
.admin-home .header .statistical {
    width: 100%;
}
