.admin-home {
    min-height: 800px;
    padding-bottom: 400px;
    margin-top: 2rem;
    /* width: 100%; */
}
.admin-home .title {
    text-align: center;
}
.admin-home .chart {
    display: flex;
    justify-content: space-evenly;
}
.admin-home .block-chart {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.admin-home .block-pie {
    width: 20%;
}
